.pf-container {
  background-color: #ffd9da;
  border-radius: 1rem;
  min-height: 50rem;
}

.products-container {
  overflow-y: auto;
  height: 100%;
}

.add-product {
  border: none;
  outline: none;
  background-color: #89023e;
  border-radius: 0.5rem;
}

.cart-container {
  border-radius: 1rem;
  background-color: #ffd9da;
  min-height: 5rem;
}

.cart-footer > button {
  border: none;
  outline: none;
  background-color: #89023e;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
